@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <canvas id="mapCan"></canvas>
</div>
<div>
    @{
        //var date = Model.map.LastMove.Hour;
        //var date = 20;
        var date = new DateTime(2019, 3, 25, 12, 0, 0);
        var hours = (date - DateTime.Now).TotalHours;
        @Html.Label(date.ToString());
        <div>
            @{ if (hours >= 18)
                {
                    <div>
                        <button>Good</button>
                        <button>Bad</button>
                    </div>
                    <div>
                        <input type="radio" id="Ye" name="inp" value="Ye" />
                        <label for="Ye" id="Ye" value="Ye">Ye</label>
                        <br />
                        <input type="radio" id="Ye1" name="inp" value="Ye1" />
                        <label for="Ye1" id="Ye1" value="Ye1">Ye1</label>
                        <br />
                        <input type="radio" id="Ye2" name="inp" value="Ye2" />
                        <label for="Ye2" id="Ye2" value="Ye2">Ye2</label>
                        <br />
                        <input type="radio" id="Ye3" name="inp" value="Ye3" />
                        <label for="Ye3" id="Ye3" value="Ye3">Ye3</label>
                        <br />
                        <input type="radio" id="Ye4" name="inp" value="Ye4" />
                        <label for="Ye3" id="Ye4" value="Ye4">Ye4</label>
                    </div>
                }
                else
                {
                    <div>
                        Come back in
                        @Html.Label((hours).ToString())
                        hour(s)!
                    </div>
                }
            }
        </div>
    }
</div>

<div>
    <input type="hidden" id="ugg" />
    @Html.HiddenFor(model => model.map.Colours)
    @Html.HiddenFor(model => model.map.Planets)
    @Html.HiddenFor(model => model.map.Edges)
</div>

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/UIHandler.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>
<script>
    index();
</script>