@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>
        <canvas id="mapCan"></canvas>
    </div>
    <div>
        @{
            var date = Model.map.LastMove;
            var hours = (DateTimeOffset.Now - date).TotalHours;
            <div>
                @{ if (hours >= 18)
                    {
                        <div>
                            <button id="gdBtn">Good</button>
                            <button id="bdBtn">Bad</button>
                        </div>
                        <div>
                            Got a reason?
                            <br />
                            @Html.TextBoxFor(model => model.dayCre.Reason, new { id = "reasonIn" })
                        </div>
                    }
                    else
                    {
                        <div>
                            Come back later!
                        </div>
                    }
                }
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("Submit", "IndexFunc", new { ID = Model.guid })
        <a href="javascript:submit();">Submit</a>
        <script>
            function params(obj) {
                var str = "?";
                for (var key in obj) {
                    if (str != "?") str += "&";
                    str += key;
                    str += "=" + obj[key];
                }
                return str;
            }
            function submit() {
                var data = {
                    id : "@Model.guid",
                    owner : "@Model.dayCre.OwnerID",
                    reason: reasonIn.value,
                    colors: map_Colours.value.replace(",", ""),
                    planets : map_Planets.value,
                    conns : map_Edges.value,
                    lastMove : map_LastMove.value,
                    wasGood : dayCre_WasGood.value.toLowerCase()
                };
                window.location.href = "/Game/IndexFuncPar" + params(data);
                //window.location.href = "/Game/IndexFunc?ID="+id+"&reason="+k+"&wasGood="+wasGood+"&lastMove="+lastMove+"&conns="+conns+"&planets="+planets+"&colors="+colors+"&owner="+owner;
            }
        </script>
    </div>

    <div>
        <input type="hidden" id="ugg" />
        @Html.HiddenFor(model => model.map.Colours)
        @Html.HiddenFor(model => model.map.Planets)
        @Html.HiddenFor(model => model.map.Edges)
        @Html.HiddenFor(model => model.map.LastMove)
        @Html.HiddenFor(model => model.dayCre.WasGood)
    </div>
}

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/UIHandler.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>
<script>
    index();
</script>