@model EncouroCon.Models.MapCreate
@{
    ViewBag.Title = "Setup";
}

<h2>Welcome</h2>

<div>
    <div>
        @Html.DisplayNameFor(model => model.StruggleName)
        @Html.EditorFor(model => model.StruggleName)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.FavCol)
        @Html.EditorFor(model => model.FavCol)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.RepCol)
        @Html.EditorFor(model => model.RepCol)
    </div>
</div>

<div>
    <div>
        <canvas id="ruleCan"></canvas>
    </div>
</div>

<div>
    <div>
        @Html.Label("Game Map")
    </div>
    <div>
        <canvas id="mapCan"></canvas>
    </div>
    <div>
        <button id="rerollBtn">Re-Roll</button>
    </div>
</div>

<div>
    <button id="confirmBtn">Confirm</button>
</div>

<div>
    @Html.HiddenFor(model => model.Planets)
    @Html.HiddenFor(model => model.Edges)
</div>

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>