@model EncouroCon.Models.MapCreate
@{
    ViewBag.Title = "Setup";
}

<h2>Welcome</h2>

@Html.DisplayNameFor(model => model.StruggleName)
@Html.EditorFor(model => model.StruggleName)
<br />
@Html.Label("Enter your favourite colour: ")
@Html.Editor("PColour")
<br />
@Html.Label("Representative colour: ")
@Html.Editor("RColour")
<br />
<canvas id="ruleCan"></canvas>
<canvas id="mapCan"></canvas>
<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>